*.mp4 filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
SEMESTER-2/Calculus/Kalkulus[[:space:]]Purcell[[:space:]]edisi[[:space:]]9[[:space:]]Jilid[[:space:]]1[[:space:]]dan[[:space:]]2[[:space:]]Bahasa[[:space:]]Inggris.pdf filter=lfs diff=lfs merge=lfs -text
