body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

.container {
    text-align: center;
    background-color: #F2DB83;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.container h1 {
    color: #000;
    font-size: 24px;
}

.input-group {
    margin: 20px 0;
    text-align: center;
}

.input-group textarea {
    width: calc(100% - 22px);
    padding: 10px;
    border: 2px solid #DBA506;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
}

.button {
    background-color: #DBA506;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background-color: #DBA506;
}

.result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

.positive {
    background-color: #2b9608;
    color: #ffffff;
}

.negative {
    background-color: #e22e2e;
    color: #ffffff;
}

.sample-tweets {
    text-align: left;
    margin-top: 20px;
    color: black;
}

.sample-tweets h2 {
    font-size: 20px;
}

.sample-tweets ol {
    padding-left: 20px;
}

.sample-tweets li {
    margin-bottom: 10px;
    line-height: 1.5;
}
